<div class="title">
   <div class="hotact-left"></div>
    <h3 style="float:left;font-size:24px;padding-top:10px;color:rgb(102,51,102)">本周活动</h3>
    <div class="hotact-right"></div>
</div>
<div style="padding-top:3px;padding-bottom:3px;background-color:#333"></div>
<div class="weekdate-cover">
	<div class="weekdate" id="day1"></div>
    <div class="weekdate" id="day2"></div>
    <div class="weekdate" id="day3"></div>
    <div class="weekdate" id="day4"></div>
    <div class="weekdate" id="day5"></div>
    <div class="weekdate" id="day6"></div>
    <div class="weekdate" id="day7"></div>
</div>
<{foreach item=weekact from=$retlist}>

<div class="weeka">
	<{foreach item=week_day_act from=$weekact}>
    <div style="width:120px;height:2px;background:#666;float:left"></div>
    <div class="act-content">
    	
        <a href="act_dtl.php? act_id=<{$week_day_act.id}>"><{$week_day_act.name}></a>
        </br>
        <{if isset($week_day_act.detail_time)}>
        <span>时间:<{$week_day_act.detail_time}></span>
        <{/if}>
        </br>
        <{if isset($week_day_act.deadline)}>
        <span>截止:<{$week_day_act.deadline}></span>
        <{/if}>
    </div>
    
   	<{/foreach}>
</div>
<{/foreach}>

