
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./assets/css/main.css" rel="stylesheet" />


<link href="./assets/css/act_apply.css" rel="stylesheet" />

<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="./plugin/calendar/calendar.css" >
<script type="text/javascript" src="./plugin/calendar/calendar.js" ></script>  
<script type="text/javascript" src="./plugin/calendar/calendar-zh.js" ></script>
<script type="text/javascript" src="./plugin/calendar/calendar-setup.js"></script>
<script charset="utf-8" src="./plugin/kindeditor-4.1.5/kindeditor-min.js"></script>
<script charset="utf-8" src="./plugin/kindeditor-4.1.5/lang/zh_CN.js"></script>
<script type="text/javascript" src="./assets/js/act_edit.js"></script>

<link href="./plugin/jquery-fileuploader-php-master/css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css" />
<link href="./plugin/jquery-fileuploader-php-master/css/fileUploader.css" rel="stylesheet" type="text/css" />
<script src="./plugin/jquery-fileuploader-php-master/js/jquery-1.6.2.min.js" type="text/javascript"></script>
<script src="./plugin/jquery-fileuploader-php-master/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>
<script src="./plugin/jquery-fileuploader-php-master/js/jquery.fileUploader.js" type="text/javascript"></script>

<title>活动申请</title>
</head>
<body>
<{include file="include/header.html"}>
<div class="main">
		<div class="span_left">
			
				<div class="breadcrumb">
                	<div class="bar-left"></div>
                    <div class="bar-title">活动资料</div>
                    <div class="bar-right"></div>
                </div>
				<div class="control-group" id="user">
					<label class="control-label" for="inputInfo">活动名称</label>
					<div class="controls">
						<div class="input_border">
							<input id="activity_name" name="activity_name" value="<{$act_name}>" class="user" type="text" placeholder="活动名称，20字以内"/>
                            
						</div>
                       
						<span id="activity_name_error"></span>
					</div>
				</div>
				<div class="control-group" id="password">
					<label class="control-label" for="inputInfo">活动地点</label>
					<div class="controls">
						<div class="input_border">
							<input id="activity_place" name="activity_place" value="<{$act_place}>" class="user" type="text" placeholder="50字以内" />
                            
						</div>
                        
						<span id="activity_place_error"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputInfo">时间类型</label>
					<div class="controls">
						<div class="input_border">
							<select name="time_type" id="time_type">
							  <option value="longtime" <{if $time_type=='longtime'}>selected="selected"<{/if}>>长期活动</option>
                              <option value="temp"<{if $time_type=='temp'}>selected="selected"<{/if}>>临时活动</option>
							</select>
						</div>
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label" for="inputInfo">活动属性</label>
					<div class="controls">
						<div class="input_border">
							<select name="attribution_type" id="attribution_type">
							  <option value="helpdisabled" <{if $attribution_type=='helpdisabled'}>selected="selected"<{/if}>>助残</option>
                              <option value="supporteducation"<{if $attribution_type=='supporteducation'}>selected="selected"<{/if}>>支教</option>
                              <option value="helpold"<{if $attribution_type=='helpold'}>selected="selected"<{/if}>>扶老</option>
                              <option value="competition"<{if $attribution_type=='competition'}>selected="selected"<{/if}>>大型赛会</option>
                              <option value="other"<{if $attribution_type=='other'}>selected="selected"<{/if}>>其他</option>
							</select>
						</div>
					</div>
				</div>	
				<div class="breadcrumb">
                	<div class="bar-left"></div>
                    <div class="bar-title">活动时间</div>
                    <div class="bar-right"></div>
                </div>
                <div class="control-group" >
					<label class="control-label" for="inputInfo" >开始日期</label>
					<div class="controls">
						<div class="input_border">
							<input name="begin_time" class="user" value="<{$begin_date}>" type="text" id="begin_time" onClick="return showCalendar('begin_time', 'y-mm-dd');" />
                           
						</div>
                         <span id="begin_time_tip" class="begin_time-tip"> </span>
						<span id="begin_time_error"></span>
					</div>
				</div>
                <div class="control-group" >
					<label class="control-label" for="inputInfo">结束日期</label>
					<div class="controls">
						<div class="input_border">
							<input name="end_time" class="user" value="<{$end_date}>" type="text" id="end_time" onClick="return showCalendar('end_time', 'y-mm-dd');"/>
                           
						</div>
                         <span id="end_time_tip" class="end_time_tip"></span>
						<span id="end_time_error"></span>
					</div>
				</div>
                <div class="control-group" >
					<label class="control-label" for="inputInfo">报名截止日期</label>
					<div class="controls">
						<div class="input_border">
							<input name="deadline" class="user" value="<{$dead_date}>" type="text" id="deadline" onClick="return showCalendar('deadline', 'y-mm-dd');"/>
                           
						</div>
                         <span id="deadline_tip" class="end_time_tip"></span>
						<span id="deadline_error"></span>
					</div>
				</div>
                <div class="control-group" >
					<label class="control-label" for="inputInfo">持续时间</label>
					<div class="controls">
						<div class="input_border">
							<input name="last_time" id="last_time" value="<{$last_time}>" class="user" type="text" placeholder="一个数字，单位是小时，例如2"  />
                            
						</div>
                        <span id="last_time_tip" class="last_time_tip"> </span>
						<span id="last_time_error"></span>
					</div>
				</div>
                <div class="control-group">
					<label class="control-label">具体时间</label>
					<div class="controls-n">
                    	<input name="weekday" type="checkbox" value="1"  <{if $weekday1  ==1  }>checked<{/if}> /><label>周一</label>
                        <input name="weekday" type="checkbox" value="2"  <{if $weekday2  ==1  }>checked<{/if}> /><label>周二</label>
                        <input name="weekday" type="checkbox" value="4"  <{if $weekday3  ==1  }>checked<{/if}> /><label>周三</label>
                        <input name="weekday" type="checkbox" value="8"  <{if $weekday4  ==1  }>checked<{/if}> /><label>周四</label>
                        <input name="weekday" type="checkbox" value="16" <{if $weekday5  ==1  }>checked<{/if}> /><label>周五</label>
                        <input name="weekday" type="checkbox" value="32" <{if $weekday6  ==1  }>checked<{/if}> /> <label>周六</label>
                        <input name="weekday" type="checkbox" value="64" <{if $weekday7  ==1  }>checked<{/if}> /><label>周日</label>
					</div>
				</div>
				<div class="control-group" >
					<label class="control-label" for="inputInfo">详细时间</label>
					<div class="controls">
						<div class="input_border">
							<input name="detail_time" id="detail_time" value="<{$detail_time}>"class="user" type="text" placeholder="详细描述，例如：每周五下午"/>
						</div>
						<span id="detail_time_error"></span>
					</div>
				</div>
				<div class="breadcrumb">
                	<div class="bar-left"></div>
                    <div class="bar-title">活动要求</div>
                    <div class="bar-right"></div>
                </div>
                <div class="control-group" >
					<label class="control-label" for="inputInfo">招募人数</label>
					<div class="controls">
						<div class="input_border">
							<input name="total_num" id="total_num" value="<{$total_num}>" class="user" type="text" placeholder="人数，例如：20" />
						</div>
						<span id="total_num_error"></span>
					</div>
				</div>
                <div class="control-group">
					<label class="control-label">院系要求</label>
					<div class="controls-n">
                    	<input name="faculty_select" type="radio" value="false" onclick="hide_faculty()" <{if $facultylimit==0}>checked<{/if}> /><label>否</label>
                        <input name="faculty_select" type="radio" value="true" onclick="show_faculty()"  <{if $facultylimit==1}>checked<{/if}>/><label>是</label>
                        <lable>(只允许打钩的院系志愿者参加)</label>
					</div>
                    <div id="faculty_choose" <{if $facultylimit==1}>style="display:block"<{/if}>>
                   	<{foreach item=faculty from=$faculty_list}>
						<div style="height:30px;"><input type="checkbox" value="<{$faculty.name}>" name="faculty_choose" <{$faculty.limit}>><label><{$faculty.name}><label></div>
					<{/foreach}>
                    </div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputInfo">审核类型</label>
					<div class="controls">
						<div class="input_border">
							<select name="need_audit" id="need_audit">
							  <option value="false">报名即参加</option>
                              <option value="true">需要审核报名志愿者</option>
							</select>
						</div>
					</div>
				</div>
                <div class="control-group">
					<label class="control-label">英语要求</label>
					<div class="controls-n">
                    	<input name="en_select" type="radio" value="false" onclick="hide_en()" <{if $englishlimit==0}>checked<{/if}>/><label>否</label>
                        <input name="en_select" type="radio" value="true" onclick="show_en()"  <{if $englishlimit==1}>checked<{/if}>/><label>是</label>
					</div>
                    <div id="en_choose"<{if $facultylimit==1}>style="display:block"<{/if}>>
                    	CET-4大于<input id="cet4" type="text" value="<{$cet4}>"/><br />
                        CET-6大于<input id="cet6" type="text" value="<{$cet6}>"/>
                    </div>
				</div>
                <div class="control-group">
					<label class="control-label" for="inputInfo">其他语言要求</label>
					<div class="controls">
						<div class="input_border">
							<input name="other_language" id="other_language" value="<{$other_language}>"class="user" type="text" placeholder="德语 法语 默认为无要求"/>
						</div>
					</div>
				</div>
                <div class="breadcrumb">
                	<div class="bar-left"></div>
                    <div class="bar-title">负责人</div>
                    <div class="bar-right"></div>
                </div>
				<div class="control-group" >
					<label class="control-label" for="inputInfo">姓名</label>
					<div class="controls">
						<div class="input_border">
							<input name="responser" id="responser"value="<{$responser}>" class="user" type="text" />
                           
						</div>
                         <span id="responser_tip" class="responser_tip" ></span>
						<span id="responser_error"></span>
					</div>
				</div>
                <div class="control-group" >
					<label class="control-label" for="inputInfo">电话</label>
					<div class="controls">
						<div class="input_border">
							<input name="responser_tel" id="responser_tel" value="<{$responser_tel}>" class="phone" type="text" />
                           	
						</div>
                        <span id="tel_tip" class="tel_tip"></span>
						<span id="responser_tel_error"></span>
					</div>
				</div>
                <div class="breadcrumb">
                	<div class="bar-left"></div>
                    <div class="bar-title">上传策划</div>
                    <div class="bar-right"></div>
                </div> 
                <div class="upload_panel" style="margin-left:180px">
                 	<span id="plan_upload">上传文件格式为rar和zip</span>
                    <form action="./handle/upload_zip.php" method="post" enctype="multipart/form-data">
                    <input type="file" name="userfile" class="fileUpload" multiple>
                    <input type="hidden" name="act_id" value="<{$act_id}>">
                    <button id="px-submit" type="submit">上传</button>
                    <button id="px-clear" type="reset">清除</button>
                    </form>
    			</div>
				<div class="breadcrumb">
                	<div class="bar-left"></div>
                    <div class="bar-title">活动简介</div>
                    <div class="bar-right"></div>
                </div>
                <div  id="phone" >
					<div class="controls" >
						<div class="input_area" >
							<textarea id="activity_profile" name="content" style="width:590px;height:200px;visibility:hidden;" ><{$profile}></textarea>
						</div>
						<span class="help-inline phoneerror"></span>
					</div>
				</div>    

  
				<div class="control-group">
					<div class="controls">
                        <div class="button-ctrl">
                        	<lable id="act_id"style="display:none;"><{$act_id}></lable>
                            <input name="submit" type="button" id="submit"  value="提交" />
                            <input name="preview" type="button" id="preview"  value="预览" />
                            <input name="save" type="button" id="save"  value="保存" />
                        </div>	
                    </div>
				</div>
		</div>

		<div class="span_right" id="span_right">
		</div>
 
</div>
<{include file="include/footer.html"}>
</body>
</html>