
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/login.css" rel="stylesheet" />
<link href="./assets/css/act_dtl.css" rel="stylesheet" />

<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./assets/js/act_dtl.js"></script>
<title>活动详细页面</title>
</head>
<body>
<{include file="include/header.html"}>
<input type="button" id="act_id" value="<{$id}>" style="display:none" />
<div class="main">
	<div id="left">
        <{include file="include/act_dtl_left.html"}>
    </div>
	<div id="right">
        <div id="act_simple">
            <div class="div_title">
                <div id="act_title"><{$act_title}></div>
                <div id="act_state"><{$act_state}></div>
            </div>
            <div class="div_content">
                <ul>
                    <li><div class="div_content_attr">时间</div>
                    <div class="div_content_value"><{$act_begin_time}> --- <{$act_end_time}></div></li>
                    <li><div class="div_content_attr">持续</div>
                    <div class="div_content_value"><{$last_time}>小时</div></li>
                    <li><div class="div_content_attr">性质</div>
                    <div class="div_content_value"><{$act_time_type}></div></li>
                    <li><div class="div_content_attr">类型</div>
                    <div class="div_content_value"><{$act_attr_type}></div></li>
                    <li><div class="div_content_attr">地点</div>
                    <div class="div_content_value"><{$act_place}></div></li>
                </ul>
            </div>
        </div>
        <div id="act_detail" class="div">
            <div class="div_title2"><div>活动介绍</div></div>
            <div id="act_introduction">
				<{$act_profile}>
			</div>
            <div class="div_title2"><div>参加过这项活动的人还参加了</div></div>
            <div id="act_same"  class="div_content"></div>
        </div>
		<div id="" class="clearBar">&nbsp;</div>
    </div><!-- 结束right div -->
</div>

<{include file="include/footer.html"}>
</body>
</html>