
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/login.css" rel="stylesheet" />
<link href="./assets/css/act_dtl.css" rel="stylesheet" />

<script charset="utf-8" src="./plugin/kindeditor-4.1.5/kindeditor-min.js"></script>
<script charset="utf-8" src="./plugin/kindeditor-4.1.5/lang/zh_CN.js"></script>

<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>


<title>活动详细页面</title>
</head>
<body>
<{include file="include/header.html"}>
<input type="button" id="act_id" value="<{$id}>" style="display:none" />


<div class="main">
	<div id="left">
        <{include file="include/act_dtl_left.html"}>
    </div>
	<div id="right">
        <div id="act_simple">
            <div class="div_title">
                <div id="act_title"><{$act_title}></div>
                <div id="act_state"><{$act_state}></div>
            </div>
            <div class="div_content">
                <ul>
                    <li><div class="div_content_attr">时间</div>
                    <div class="div_content_value"><{$act_begin_time}> --- <{$act_end_time}></div></li>
                    <li><div class="div_content_attr">持续</div>
                    <div class="div_content_value"><{$last_time}>小时</div></li>
                    <li><div class="div_content_attr">性质</div>
                    <div class="div_content_value"><{$act_time_type}></div></li>
                    <li><div class="div_content_attr">类型</div>
                    <div class="div_content_value"><{$act_attr_type}></div></li>
                    <li><div class="div_content_attr">地点</div>
                    <div class="div_content_value"><{$act_place}></div></li>
                </ul>
            </div>
        </div>
        <div id="act_detail" class="div">
            <div class="div_title2"><div>活动介绍</div></div>
            <div id="act_introduction">
				<{$act_profile}>
			</div>
            
            <ul class="div_title2"><li>评论</li></ul>
            <br>
            <table>
            <tr><th>评论人学号</th><th>评论人</th><th>评论时间</th><th>评论</th><th>回复</th>
            
           	<{foreach name=comment_data item=act_comment from=$comment_detail}>
            <tr class="even">
            <td><{$act_comment.id}></td>
            <td><a href="http://www.baidu.com" target="_blank"><{$act_comment.name}></a></td>
            <td><{$act_comment.time}></td>
            <td><{$act_comment.content}></td>
            <td class="reply">回复</td>
            </tr>
            <{/foreach}>
            </table>
            </br>
            <ul class="div_title2"><li>提交自己的评论</li></ul>
        	<br></br>
            
     		<div id="comment_area">
				<textarea id="comment_input" name="com_content" style="width:590px;height:200px;visibility:hidden;" ></textarea>
			</div>
      		<div class="control-group">
				<div class="controls">
				<input name="com_submit" class="button" id="submit_comment"  value="评论" />
				</div>
			</div>
            
            <div class="div_title2"><div>参加过这项活动的人还参加了</div>
            <br>
            <table id="act_people_table" class="act_people_table">
            <tr><th>名称</th><th>负责人</th></tr>
            <{foreach name=data item=act from=$act_same}>
            <{if ($smarty.foreach.data.iteration % 2 == 0)}>
            <tr class="even">
            <{else}>
            <tr class="odd">
            <{/if}>
            <td><span><a href="http://www.baidu.com" target="_blank"><{$act.name}></a></span></td>
            <td><span><{$act.responser}></span></td>
            </tr>
            <{/foreach}>
            </table>
            </br>
        	</div>
            <div id="act_same"  class="div_content"></div>
        </div>
		<div id="" class="clearBar">&nbsp;</div>
        
    </div><!-- 结束right div -->
</div>

<{include file="include/footer.html"}>

</body>
<script type="text/javascript" src="./assets/js/act_dtl.js"></script>
</html>