<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="SHORTCUT ICON" href="./assets/img/header/logo.png">
<title>公示公告</title>
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/login.css" rel="stylesheet" />
<link href="./assets/css/gongshi.css" rel="stylesheet" />
<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
</head>
<{include file="include/header.html"}>
<div class="main">
	
	<table width="200" border="1">
      <tr>
        <th scope="col">姓名</th>
        <th scope="col">院系</th>
        <th scope="col">活动名称</th>
        <th scope="col">基础时间</th>
        <th scope="col">服务时间</th>
        <th scope="col">备注</th>
      </tr>
      <{foreach item=publicity from=$publicity_list}>
            <tr>
		<td><a href="indexv.php?user_id=<{$publicity.uid}>" target="_blank"><{$publicity.name}></a></td>
        <td><{$publicity.faculty}></td>
        <td><a href="act_dtl.php?act_id=<{$publicity.actid}>" target="_blank"><{$publicity.act_name}></a></td>
        <td><{$publicity.basetime}></td>
        <td><{$publicity.honortime}></td>
        <td><{$publicity.comment}></td>
              </tr>
	  <{/foreach}>
    </table>
</div>
<{include file="include/footer.html"}>
<body>
</body>
</html>
