<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="SHORTCUT ICON" href="./assets/img/header/logo.png">
<title>公告通知</title>
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/login.css" rel="stylesheet" />
<link href="./assets/css/notice.css" rel="stylesheet" />
<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./assets/js/notice.js"></script>
</head>

<body>
<{include file="include/header.html"}>
<div id="type" style="display:none"><{$type}></div>
<div id="notice-id" style="display:none"><{$id}></div>
<div class="main">
    <div class="left">
        <a href="notice.php?type=1&page=1">
        <div class="notice">
        	公告通知
        </div></a>
        <a href="notice.php?type=2&page=1">
        <div class="online">
        	常见问题
        </div></a>
        <a href="notice.php?type=4&page=1">
        <div class="online">
        	在线提问
        </div></a>
        <a href="notice.php?type=3&page=1">
        <div class="online">
        	心路历程
        </div></a>
    </div>
    
    <div class="right" id="right">
        <div class="title-bar" id="title_bar">
    <div class="left-bar"></div>
    <span id="type-title">公告通知</span>
    <div class="right-bar"></div>
        </div>
        <div class="content">
            <div class="notice-list">
                <ul class="detail">
                	<{foreach name=data item=item from=$detail}>
                    <li>
                        <div class="title-d" onclick="detail_show(<{$item.id}>)"><{$item.title}></div>
                        <div id="notice-id" style="display:none"><{$item.id}></div>
                        <div class="time-d"><{$item.time}></div>
                    </li>
                    <{/foreach}>
                    
                </ul>
            </div>
            <div class="bottom-s">
                <div style="float:left">
                	第<span id="page-now"><{$page_now}></span>页
                    /总<span id="page-all"><{$page_all}></span>页，
                    共<{$num_all}>条</div>
                <div style="float:right">
                    <input id="first-page" type="button" value="首页"/>
                    <input id="prev-page" type="button" value="上一页"/>
                    <input id="next-page" type="button" value="下一页"/>
                    <input id="last-page" type="button" value="末页"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="notice-cover" id="notice-cover" onclick="hide()"></div>
<div class="notice-detail" id="notice-detail">
	
</div>
<{include file="include/footer.html"}>
</body>
</html>
