<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公告通知</title>
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/login.css" rel="stylesheet" />
<link href="./assets/css/notice.css" rel="stylesheet" />
<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./assets/js/notice.js"></script>
</head>

<body>
<{include file="include/header.html"}>

<div class="main">
    <div class="left">
        <div class="notice">
        	公告通知
        </div>
        <div class="online">
        	在线咨询
        </div>
    </div>
    
    <div class="right">
        <div class="title-bar" id="title_bar">
        	<div class="left-bar"></div>
            <span id="type">公告通知</span>
            <div class="right-bar"></div>
        </div>
        <div class="content">
        	<div class="notice-list">
            	<ul>
                	<li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
            </div>
            <div class="bottom-s">
            	<div style="float:left">第页/总页，共条</div>
                <div style="float:right">
                	<input type="button" value="首页"/>
                    <input type="button" value="上一页"/>
                    <input type="button" value="下一页"/>
                    <input type="button" value="末页"/>
                </div>
            </div>
        </div>
    </div>
</div>
<{include file="include/footer.html"}>
</body>
</html>
