<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="SHORTCUT ICON" href="./assets/img/header/logo.png">
<title>公告通知</title>
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/login.css" rel="stylesheet" />
<link href="./assets/css/notice.css" rel="stylesheet" />
<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./assets/js/notice.js"></script>
</head>

<body>
<{include file="include/header.html"}>
<div id="type" style="display:none"><{$type}></div>
<div id="notice-id" style="display:none"><{$id}></div>
<div class="main">
    <div class="left">
        <a href="notice.php?type=1&page=1">
        <div class="notice">
        	公告通知
        </div></a>
        <a href="notice.php?type=2&page=1">
        <div class="online">
        	在线咨询
        </div></a>
        <a href="notice.php?type=4&page=1">
        <div class="online">
        	在线提问
        </div></a>
        <a href="notice.php?type=3&page=1">
        <div class="online">
        	心路历程
        </div></a>
    </div>
    
    <div class="right" id="right">
        <div class="title-bar" id="title_bar">
   			<div class="left-bar"></div>
    		<span id="type-title">在线提问</span>
    		<div class="right-bar"></div>
        </div>
        <div class="content"  style="height:200px;">
			<div class="content-intput">
            	<table width="200" border="0">
                  <tr>
                    <td>E-mail：</td>
                    <td><input id="email_address" type="text" class="content-input-text" /></td>
                  </tr>
                  <tr>
                    <td>问题：</td>
                    <td><input id="question_content" type="text" class="content-input-text" /></td>
                  </tr>
                </table>
            </div>
            <div style="width:640px; text-align:center">
            	<input id="put_up_question" type="button" value="提交问题" />
        	</div>
        </div>
    </div>
</div>
<div class="notice-cover" id="notice-cover" onclick="hide()"></div>
<div class="notice-detail" id="notice-detail">
	
</div>
<{include file="include/footer.html"}>
</body>
</html>
