<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/login.css" rel="stylesheet" />
<link href="./assets/css/team_list.css" rel="stylesheet" />
<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./assets/js/team_list.js"></script>
<title>团队组织</title>
<style>
button{
	width:140px;
	height:40px;
	border:ridge;
	-webkit-border-radius:15px;
}
</style>

</head>
<body>
<{include file="include/header.html"}>
<div class="main">
	<div class="main_search">
    	<a href="team.php">
        	<div style="float:left;margin-left:110px;margin-top:25px;font-weight:bold;font-size:50px;color:rgb(102,51,102);">团队组织</div>
        </a>
        <div class="submit_search">
            <input id="submit" style="background-color:#606;color:#FFF" name="submit" class="btn btn-warning span2" onclick="searchteam()" type="submit" value="搜索" />
		</div>
		<div class="input_search">
			<input id="keyword" name="keyword" class="email" type="text" placeholder="请输入关键字" />
		</div>
	 </div>
     <hr />
     <div class="hotact">
        <div class="pageup" id="slideleft"><img src="./assets/img/activity_center/left.gif" /></div>
        <div class="switchtable">
            <ul class="switch" id="switch">
                
            </ul>
        </div>
        <div class="pagedown" id="slideright"><img src="./assets/img/activity_center/right.gif" /></div>
    </div>

    
   	 <div class="group" id="group1">
     	<div class="left-bar"></div>
     	<div class="bar-title">院系组织</div>
        <div class="right-bar"></div>
         <ul >
         
         <{foreach name=data item=item from=$department_info}>
         <li class="explore-item">
            <div class="pic">
                <img src="./assets/img/team_list/mianma.jpg" class="t-portrait" id="pic1"/>
            </div>
            <div class="content">
                <div class="title">
                	<span onclick="window.location.href='indext.php?team_id=<{$item.id}>'"><{$item.name}></span>
                </div>
                <div class="favs">
                    <{$item.slogan}>
                </div>
            </div>
         </li>
         <{/foreach}>
         
        </ul>
    </div>
    
    <div class="group" id="group2">
    <div class="left-bar"></div>
     	<div class="bar-title">其他组织</div>
        <div class="right-bar"></div>
     <ul>
     <{foreach name=data item=item from=$other_team_info}>
     <li class="explore-item">
   		<div class="pic">
        	<img src="./assets/img/team_list/mianma.jpg" class="t-portrait" id="pic1"/>
       	</div>
   		<div class="content" >
        	<div class="title" onclick="window.location.href='indext.php?team_id=<{$item.id}>'">
            		<{$item.name}>
        	</div>
        	<div class="favs">
            	<{$item.slogan}>
            </div>
    	</div>
     </li>
     <{/foreach}>
     
     </ul>
    </div>
</div>
</div>
<{include file="include/footer.html"}>
</body>
</html>
