
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="SHORTCUT ICON" href="./assets/img/header/logo.png">
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/tipswindown.css" rel="stylesheet" />
<link href="./assets/css/zonet.css" rel="stylesheet" />
<link href="./assets/css/actz.css" rel="stylesheet" />
<link href="./assets/css/rec_dtl.css" rel="stylesheet" />
<link href="./assets/css/rec_edit.css" rel="stylesheet" />
<link href="./assets/css/mem.css" rel="stylesheet" />
<link href="./assets/css/note.css" rel="stylesheet" />

<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
<title>团队空间</title>
</head>
<body>
<{include file="include/header.html"}>



<div class="main">

	<div id="up" class="">
		<div id="logo" class="">
			<img src="./assets/img/team/<{$team_logo}>"  title="<{$user_name}>">
		</div>
		<div id="team_info" class="">
			<p><{$user_name}></p>
			<div id="notification_bar" class="">
				<span id="notes"  title="点击查看未读通知" onclick="$('#util_note_recv').trigger('click');" class="notification_item">通知(<span id="notes_number"><{$notes_number}></span>)</span>
			</div>
		</div>
	</div>
<div id="down" class="">
			<div id="down_left" class="">
				<div id="" class="menu">
					<div id="" class="menu_item">
						<div id="" class="menu_item_title">
							活动
						</div>
                        <div id="util_apply_activity" class="menu_item_span">
							申请活动
						</div>
						<div id="util_start_activity" class="menu_item_span">
							发起的活动
						</div>
						<div id="util_finished_activity" class="menu_item_span">
							完成的活动
						</div>
						<div id="util_extend_time" class="menu_item_span">
							快捷操作
						</div>
					</div>
					<div id="" class="menu_item">
						<div id="" class="menu_item_title">
							通知
						</div>
						<div id="util_note_edit" class="menu_item_span">
							发通知
						</div>
						<div id="util_note_recv" class="menu_item_span">
							收到的通知
						</div>
						<div id="util_note_sent" class="menu_item_span">
							发送的通知
						</div>
					</div>
					<div id="" class="menu_item">
						<div id="" class="menu_item_title">
							团队管理
						</div>
						<div id="util_mem" class="menu_item_span">
							成员
						</div>
						<div id="util_infot" class="menu_item_span">
							资料
						</div>
					</div>
				</div>
			</div>
			<div id="down_right" class="">
					<div id="main_title" class=""  style="padding-left:20px;">活动列表</div>
					<div id="main_content" class="">
					</div>
					<div id="main_content2" class="">
						正在载入……
					</div>
			</div>
	</div>
</div>

<{include file="include/footer.html"}>
</body>
<script src="./assets/js/md5.js"></script>
<script src="./assets/js/tipswindown.js"></script>
<script src="./assets/js/mem.js"></script><!-- 一定要在zonet.js前面 -->
<script src="./assets/js/zonet.js"></script>
<script src="./assets/js/actz.js"></script>
<script src="./assets/js/note.js"></script>
<script charset="utf-8" src="./plugin/kindeditor-4.1.5/kindeditor-min.js"></script>
<script charset="utf-8" src="./plugin/kindeditor-4.1.5/lang/zh_CN.js"></script>

</html>