
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="SHORTCUT ICON" href="./assets/img/header/logo.png">
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/zonev.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="./plugin/calendar/calendar.css" >
<script type="text/javascript" src="./plugin/calendar/calendar.js" ></script>  
<script type="text/javascript" src="./plugin/calendar/calendar-zh.js" ></script>
<script type="text/javascript" src="./plugin/calendar/calendar-setup.js"></script>

<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>

<title>个人空间</title>
</head>
<body>
<{include file="include/header.html"}>

<div class="main">

	<div id="up" class="">
		<div id="logo" class="" style="float:left">
			<img src="./assets/img/head_photo/boy/178.jpg" width="80px" height="80px" border="0" alt="">
		</div>
		<div id="person_info" class="person-info" style="float:left">
			<div id="user_name" ><{$user_name}>&nbsp;&nbsp;&nbsp;</div>
            <div id="user_level">
            <{section name=loop loop=$user_rate}>
			<img src="./assets/img/star.png" title="我的志愿服务星级" /> 
			<{/section}>
            </div>
			<div id="server-time">服务总时间：<{$volunteer_time}>小时</div>
            <div id="base-time">基础时间：<{$base_time}>小时</div>
            <div id="honor-time">荣誉时间：<{$honor_time}>小时</div>
            <div id="signature">
            	<span>签名：</span>
            	<span  class="signature" onclick="$(this).toggle();$(this).next().toggle();$(this).next().focus();"><{$signature}></span>
            	<input style="display:none" type="text" class="signature" id="sign" value="<{$signature}>" onblur="change_sign(); $(this).toggle(); $(this).prev().text($(this).val()); $(this).prev().toggle();"/>
              
            </div>
		</div>
	</div>
<div id="down" class="">
			<div id="down_left" class="">
				<div id="" class="menu">
					<div id="" class="menu_item">
						<div id="" class="menu_item_title">
							活动
						</div>
                        <div id="my_activity" class="menu_item_span">
							我参与的活动<a id="apply" href="http://www.baidu.com“ target="_blank"></a>
						</div>
						<div id="activity_record" class="menu_item_span">
							活动记录
						</div>
					</div>
					<div id="" class="menu_item">
						<div id="" class="menu_item_title">
							通知
						</div>
						<div id="new_notice" class="menu_item_span">
							新通知<{$notice_num}>
						</div>
						<div id="notice_record" class="menu_item_span">
							历史通知
						</div>
					</div>
                    <div id="" class="menu_items">
                    	<div id="" class="menu_item_title">
                        	团队
                        </div>
                        <div id="my_team" class="menu_item_span">
                        	我的团队
                        </div>
                        <div id="my_focused_team" class="menu_item_span">
                        	关注的团队
                        </div>
                    </div>
					<div id="" class="menu_item">
						<div id="" class="menu_item_title">
							个人
						</div>
                        <div id="vol_profile" class="menu_item_span">
                        	个人资料
                        </div>
                        <div id="change_profile" class="menu_item_span">
                        	修改资料
                        </div>
					</div>
				</div>
			</div>
			<div id="down_right" class="">
					<div id="main_title" class=""  style="padding-left:20px;">活动列表</div>
					<div id="main_content" class="">
					</div>
					<div id="main_content2" class="">
						正在载入……
					</div>
			</div>
	</div>
</div>
<div id="note_detail"></div>
<{include file="include/footer.html"}>
<script type="text/javascript" src="./assets/js/zonev.js"></script>

</body>
</html>