<{foreach item=act from=$act_list}>
<div class="summary">
    <div class="act_img">
        <img src="./include/img/activity/.1jpg" width="200px" height="130px" href="www.baidu.com"/>
    </div>
    <div class="words">
        <span>
            <h2><a href="./act_dtl.php?act_id=<{$act.id}>" target="_blank"><{$act.name}></a><span class="atc_state"><{$act.state}></span></h2>
            <p><{$act.profile}></p>
        </span>
        <span class="otherInfo">
            <span class="first">活动时间：<{$act.time}></span>
            <span>活动地点：<{$act.place}></span>
            <span>招募人数：<em><{$act.offer_num}></em></span>
        </span>
    </div>
</div>
<{/foreach}>
<{if isset($have_more) }>
	<{if $have_more == 1}>
    <div class="more" id="more" onclick="more()">
        <div class="more-but">更多</div>
        <div style=""></div>
    </div>
    <{elseif $have_more == 0}>
    <div class="more" id="nomore">
        <div class="more-but">没有更多了</div>
        <div style=""></div>
    </div>
    <{/if}>
<{/if}>
