<{foreach item=act from=$act_list}>
<div class="act_info">
    	<div class="act-name" id="act_name" onclick="showmore(<{$act.id}>)"><{$act.name}></div>
        <div class="act-state" id="act_state">
        	<input type="button" value="通过" onclick="audited(<{$act.id}>)"/>
        </div>
        <div class="act-hiden" id="act_0">
        	<div class="hiden-msg"><{$act.state}></div>
            <div class="hiden-msg"><{$act.profile}></div>
            <div class="hiden-msg"><{$act.time}></div>
            <div class="hiden-msg"><{$act.place}></div>
            <div class="hiden-msg"><{$act.offer_num}></div>
        </div>
</div>
<{/foreach}>