目前所有的活动个数是：<{$num}>







 <table>
				<tr>
				
					<th>团队名</th>
					<th>团队成员数</th>
					<th>团队举办活动数</th>
					<th>团队举办活动参与人次</th>
					<th>团队举办活动参与总时间</th>
                    
				</tr>

<{foreach item=if from=$all_listinfo}>

   
    
    
   
    
   				
					<tr class="even">

						<td><{$if.name}></td>
						<td><{$if.people}></td>
						<td><{$if.act}></td>
						<td><{$if.apn}></td>
						<td><{$if.time}></td>
                   
					</tr>
        
    
				<{/foreach}>
                </table>