<head>






</head>
<body>
<form action="../../../../handle/super_admin_add_vol_time_ok.php" method="POST">
学生账户名：
<input type="text" name="userid">
<br />
活动档案号：
<input type="text" name="docid">
</br>
增加基础时间(小时)：
<input type="text" name="basictime">
<br />      
增加荣誉时间(小时)：
<input type="text" name="honortime">
<br /> 
评价：
<input type="text" name="reasoneva">
<br/>     

表现等级
<select name="level" >
<option value="优秀">优秀</option>
<option value="良好">良好</option>
<option value="一般">一般</option>
</select>

</br>
 <input type="submit" value="提交更改" />
</form>

</body>
