<div class="title">
   <div class="hotact-left"></div>
    <h3 style="float:left;font-size:24px;padding-top:10px;">本周活动</h3>
    <div class="hotact-right"></div>
</div>
<div style="padding-top:3px;padding-bottom:3px;background-color:#333"></div>
<div class="weekdate-cover">
	<div class="weekdate" id="day1"></div>
    <div class="weekdate" id="day2"></div>
    <div class="weekdate" id="day3"></div>
    <div class="weekdate" id="day4"></div>
    <div class="weekdate" id="day5"></div>
    <div class="weekdate" id="day6"></div>
    <div class="weekdate" id="day7"></div>
</div>
<{foreach item=weekact from=$retlist}>

<div class="weeka">
    <div class="act-content">
    
        <a href="act_dtl.php? act_id=<{$weekact.id1}>"><{$weekact.name1}></a>
        </br>
        <{if isset($weekact.detail_time1)}>
        <span>时间:<{$weekact.detail_time1}></span>
        <{/if}>
        </br>
        <{if isset($weekact.deadline1)}>
        <span>报名截止:<{$weekact.deadline1}></span>
        <{/if}>
    </div>
    <div style="width:120px;height:2px;background:#666;float:left"></div>
    <div class="act-content">
        <a href="act_dtl.php? act_id=<{$weekact.id2}>"><{$weekact.name2}></a>
        </br>
        <{if isset($weekact.detail_time2)}>
        <span>时间:<{$weekact.detail_time2}></span>
        <{/if}>
        </br>
        <{if isset($weekact.deadline2)}>
        <span>报名截止:<{$weekact.deadline2}></span>
        <{/if}>
    </div>
</div>
<{/foreach}>

