


<div id="" class="" style="margin: 0 20px 10px">
	

	<table>
	<tr><th style="text-align:right">Logo</th>
		<td style="text-align:left">
			<div id="" class="">
				<img src="./assets/img/team/<{$team_logo}>" width="" style="border-radius:25px;" height="" border="0" title="暂不支持头像的修改">
			</div>
		</td>
	</tr>
	<tr>
		<th style="text-align:right">口号</th>
		<td style="text-align:left">
			<input type="text" value="<{$team_signature}>" id="team_info_edit_slogan" />
		</td>
	</tr>
	<tr>
		<th style="text-align:right">简介</th>
		<td style="text-align:left">
			<div id="" class="input_area">
				<textarea name="content" style="width:590px;height:200px;visibility:hidden;"><{$team_profile}></textarea>
			</div>
		</td>
	</tr>
	</table>
	<input type="button" class="button"  onclick="team_info_edit_ok();" value="确定" />
	<input type="button" class="button"  title="取消修改" onclick="go_back_home();" value="返回" />
</div>