


<div id="" class="" style="margin: 0 20px 10px">
	

	<table>
		<tr>
			<th  width="20px" style="text-align:right;">原密码</th>
			<td style="text-align:left;"> <input type="password" value="" id="team_info_chxpsd_old"/> </td>
			<td width="50%" ><span class="" style="white-space:nowrap;font-size:10px;">&nbsp;</span></td>
		</tr>
		<tr>
			<th style="text-align:right;width:50px">新密码</th>
			<td style="text-align:left;"> <input type="password" value="" id="team_info_chxpsd"/> </td>
			<td><span class="" style="white-space:nowrap;font-size:10px;">&nbsp;</span></td>
		</tr>
		<tr>
			<th style="text-align:right;width:50px">确认密码</th>
			<td style="text-align:left;"> <input type="password" value="" id="team_info_chxpsd2"/> </td>
			<td><span class="" style="white-space:nowrap;font-size:10px;">&nbsp;</span></td>
		</tr>
	</table>
	<input type="button" class="button"  onclick="team_info_chxpsd_ok();" value="确定" />
</div>