#left {
float:left;
width:240px;
margin:0 30px 0 30px;
}
#right{
float:left; /* t-r-b-l  t-lr-b  tb-lr tblr */
width:630px;
}
.center{
	float:left;
	width:900px;
	margin:10px 30px 10px 30px;	
}
#act_image span{
	text-align:center;
	cursor:pointer;
	margin:10px 0 0 0;
	padding-top:8px;
	width:220px;
	float:left;
	height:30px;
	font-size:14px;
	background:rgb(188,188,188);
	border-radius:10px;
}
#act_image span:hover{
	box-shadow:0 0 15px #666;	
}
#act_image img{
	border-radius:10px;
	padding:1px;
	border:2px solid rgb(104,104,104);
	width:214px;
	height:244px;	
}
/* ×ó±ß */
#option span{
	display: block;
	text-align:center;
	cursor:pointer;
	font-size: 14px;
	float:left;
	margin-top:5px;
	padding:8px;
	height:22px;
	width:100px;
	background-color: rgb(188,188,188);
	border-radius:10px;
}
#option span:hover{
	box-shadow:0 0 15px #666;
}
#option{
	float:right;
}
#act_simple{
	float:left;
	height:300px;
	background:rgba(245,245,245,0.9);
	border-radius:20px;
	box-shadow:10px 10px 10px #666;
}
.bottom{
	float:left;
	margin:10px 30px 0 30px;
	wodth:900px;	
}
/* ÓÒ±ß */
.div_title{
	margin:10px 15px 0 15px;
	width:600px;
	float:left;
}
#act_title{
	padding-top:10px;
	font-size:28px;
	font-weight:bolder;
	height:30px;
}
#act_state{
	padding-top:10px;
	font-size:18px;
	height:20px;
	font-weight:bolder;
}
.div_content{
	margin:20px 15px 0 15px;
	width:600px;
	float:left;	
	font-size:14px;
}
.div_content_attr{
	float:left;
	width:100px;
	height:20px;
	padding-top:5px;
}
.div_content_value{
	float:left;
	width:500px;
	height:20px;
	padding-top:5px;
}
#act_detail,.act-comment,.other-act,.apply-state{
	width:840px;
	margin-top:20px;
	padding:10px 30px 10px 30px;
	float:left;	
	background:rgba(245,245,245,0.9);
	border-radius:20px;
	box-shadow:10px 10px 10px #666;
}
.act-comment{
	width:340px;
	
}
.other-act{
	margin-left:30px;
	width:410px;
}
.div_title2{
	float:left;
	font-size:18px;	
	margin-top:20px;
	font-weight:bold;
}
#act_introduction{
	float:left;	
	width:840px;
}
.drop-cover{
	z-index:190;
	top:0;
	left:0;
	opacity:0;
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgb(102,51,102);	
}
.drop{
	z-index:195;
	position:fixed;
	opacity:0;
	left:50%;
	width:0;
	height:0;
	top:300px;
	background-color:rgba(102,51,102,0.5);
	border-radius:20px;
}
.reply{
	cursor:pointer;
	color:#000;
	padding-left:10px;
	float:right;
}
.comment-panel{
	width:340px;
	float:left;
	background:rgb(205,205,205);
	margin:10px 0 0px 0px;
	border-radius:8px;
}
.comment-title{
	float:left;
	width:320px;
	margin:0 10px 0 10px;
}
.comment-name{
	float:left;
}
.comment-time{
	float:right;
}
.comment-content{
	float:left;
	font-weight:bold;
	color:rgb(102,51,102);
	width:320px;
	margin:6px 10px 0 10px;
}

.upload-m{
	position:absolute;
	width:600px;
	padding:20px;
	height:400px;
	left:50%;
	top:100px;
	margin-left:-300px;
	border-radius:20px;
	display:none;
	opacity:0;
	background:rgba(255,255,255,1);
	border:2px solid #ccc;
	z-index:190;	
}
.cover-m{
	position:fixed;
	z-index:180;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	opacity:0;
	background:rgba(255,255,255,0.5);
}

.comment_submit{
	width:590px;
	float:left;
	text-align:right;
}
.comment_submit input[type='submit']{
	margin-top:5px;
	background:rgba(102,51,102,0.8);
	color:#FFF;
}