.span_left{
float: left;
width: 65%;
margin: 10px;  /* mk:marks */
font-size: 14px;
line-height: 22px;
}
.span_right{
width: 30%;
float:right;
margin:20px 0px;
}
.breadcrumb {
margin: 10px;
padding: 10px 10px 10px 10px;
clear:both;
height:25px;
-webkit-border-radius:10px;
}
.control-group{
margin-bottom: 30px;
clear:both;
}
.control-label{
float: left;
width:160px;
margin-top: 3px;
text-align: right;
-webkit-border-radius:5px;
}
.control-group input{
width: 184px;
height: 20px;
padding: 4px 8px;
vertical-align: middle;
border-color: 1px #ccc solid;
-webkit-border-radius:5px;
}
.control-group input[type='button']{
cursor:pointer;
width:auto;
height:30px;
-webkit-border-radius:5px;
padding: 4px 14px; /* pg:page ps:pause pi:pitch  po:position */ 
}
 .control-group select{
width: 202px;
height: 30px;
padding: 4px 8px;
vertical-align: middle;
border-color: 1px #ccc solid;
-webkit-border-radius:5px;
}
.control-group span{
margin-left: 20px;
padding-top: 20px;
vertical-align: middle;
color: red;
-webkit-border-radius:5px;
}

.input_border, .input_border_focus, .input_border_error, .input_border_error_focus{
float: left;
margin-left: 20px;
margin-bottom: 20px;
width: 202px;
height:30px;
border-width: 1px;
border-style: solid;
-webkit-border-radius:5px;
}

.input_area{
float: left;
margin-left: 20px;
margin-bottom: 20px;
width: 592px;
border-width: 1px;
border-style: solid;
-webkit-border-radius:5px;
}

.input_border {
border-color: green;
-webkit-border-radius:5px;
}
.input_border_focus {
-webkit-border-radius:5px;
box-shadow: -1px 0 5px rgb(0, 200, 0),0 -1px 5px rgb(0, 200, 0),0 1px 5px rgb(0, 200, 0),1px 0 5px rgb(0, 200, 0);
}
.input_border_error {
border-color: red;
-webkit-border-radius:5px;
}
.input_border_error_focus {
border-color: red;
-webkit-border-radius:5px;
box-shadow: -1px 0 5px red,0 -1px 5px red,0 1px 5px red,1px 0 5px red;
}

.input-tip{
display:none;
-webkit-border-radius:5px;
}
.bar-title{
	float:left;
	font-size:18px;
	font-weight:bold;
	margin-left:20px;
	margin-right:20px;
}
.bar-left{
	float:left;
	margin-top:7px;
	height:8px;
	width:220px;
	background:-webkit-gradient(linear, right top, left top, from(rgba(104,104,104,1)), to(rgba(225,225,225,0.2)));
}
.bar-right{
	float:left;
	margin-top:7px;
	height:8px;
	width:220px;
	background:-webkit-gradient(linear, left top, right top, from(rgba(104,104,104,1)), to(rgba(225,225,225,0.2)));
}

.reg_nju_scene {
width: 220px;
height: 146px;
margin: 5px;  /* mk:marks */
}
.button-ctrl{
	float:right;
	margin-right:20px;
}
.controls-n{
	float:left;
	margin-top:3px;
	margin-left:15px;
	margin-bottom:24px;
}
.controls-n input{
	width:20px;	
}
.text_area{
	margin-left:5px;
	width:205px;
	height:81px;
	border:1px solid green;
	-webkit-border-radius:5px;
}
textarea{
	border: 1px #ccc solid;
	-webkit-border-radius:5px;
	padding:0;
}

 #draggable { width: 50px; height: 50px; padding: 0.5em; float: right; margin: 10px 10px 10px 0; }
 #droppable { width: 120px; height: 120px; padding: 0.5em; float: right; margin: 10px; }