
.util_doc_fold {
cursor:pointer;
}


.util_doc_index {
	cursor:pointer;
}



.util_doc_add {
	cursor:pointer;
}



.util_doc_apply {
	cursor:pointer;
}

.apply_id_col{
	cursor:pointer;
}

.zonet-doc-row{
	cursor:pointer;
}

.util_doc_modify , .util_doc_del{
	cursor: pointer;
}

.util_doc_modify_disabled, .util_doc_del_disabled{
	cursor: default;
}