.header {
position:absolute;
margin: 0;
top:38px;
left:0px;
padding: 0; 
width: 100%; 
height: 50px;
background-color:#606;
-webkit-background-origin:padding; 
-webkit-background-clip:content;
z-index:110;
}

.header_content{
margin: 0px auto; 
position: relative;
width: 960px;
}

/* 以下是对logo的设置 */
.logo{
	position:absolute;
	margin-left:-480px;
	left:50%;
	z-index:120;
	top:0;
}
.logo a{
text-decoration: none;
color:gray;
}
.logo a:hover{
color:#fff;
}

/* 以下是对主菜单的设置 */
.main_menu{
margin: 20px 5px 10px;  /* mk:marks */
float:left;
font-size: 17px;
}
.main_menu li{ 
margin: 0 7px;  /* mk:marks */
float: left;
}
.main_menu a{
text-decoration: none;
color:#FFF;
}
.main_menu a:hover{
color:rgb(100,100,100);
}


/* 以下是对右上角欢迎语的设置 */
.welcome_bar{
position: relative;
margin: 20px 5px 0px 0px;
float: right;
font-size: 14px;
display: block-inline;
}
.welcome_bar a{
color:white;
text-decoration: none;
}
.welcome_bar a:hover{
color:gray;
}
.backdrop{
	position:fixed;
	z-index:180;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:none;
	opacity:0;
	background-color:#606;
	-webkit-border-radius: 0 0  10px 10px;
}