.header {
position:absolute;
margin: 0;
top:38px;
left:0px;
padding: 0; 
width: 100%; 
height: 50px;
background-color:rgb(102,51,102);
-webkit-background-origin:padding; 
-webkit-background-clip:content;
z-index:110;
}

.header_content{
margin: 0px auto; 
position: relative;
width: 960px;
}

/* 以下是对logo的设置 */
.logo{
	padding-left:8px;
	padding-right:8px;
	position:absolute;
	margin-left:-480px;
	left:50%;
	z-index:120;
	top:0;
}
.logo a{
text-decoration: none;
color:gray;
}
.logo a:hover{
color:#fff;
}

/* 以下是对主菜单的设置 */
.main_menu{
margin: 20px 5px 10px;  /* mk:marks */
float:left;
font-size: 17px;
}
.main_menu li{ 
margin: 0 7px;  /* mk:marks */
float: left;
}
.main_menu a{
text-decoration: none;
color:#FFF;
}
.main_menu a:hover{
color:rgb(100,100,100);
}


/* 以下是对右上角欢迎语的设置 */
.welcome_bar{
position: relative;
margin: 20px 5px 0px 0px;
float: right;
font-size: 14px;
display: block-inline;
color:#FFF;
}
.welcome_bar a{
color:white;
text-decoration: none;
}
.welcome_bar a:hover{
color:gray;
}
.backdrop{
	position:fixed;
	z-index:220;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:none;
	opacity:0;
	background-color:rgb(102,51,102);
	-webkit-border-radius: 10px;
}
.changelanguage{
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-304px;
	width:784px;
}
#loading-bar{
	display:none;
}
.loading-cover{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.2);
	z-index:192;
}
.loading-pic{
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-15px;
	margin-top:-15px;
	width:31px;
	height:31px;
	z-index:193;
}
.header-border-down{
	width:100%;
	position:absolute;
	top:88px;
	height:20px;
	left:0;
	filter:alpha(opacity=100 finishopacity=0 style=1 startx=0,starty=0,finishx=0,finishy=20)progid:DXImageTransform.Microsoft.gradient(startcolorstr='#666666',endcolorstr='#FFFFFF',gradientType=0);
	background:-ms-linear-gradient(top,rgba(102,102,102,1) 0%,rgba(255,255,255,0) 100%);
	background:-moz-linear-gradient(top,rgba(102,102,102,1) 0%,rgba(255,255,255,0) 100%);
	background:-o-linear-gradient(top,rgba(102,102,102,1) 0%,rgba(255,255,255,0) 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(rgb(102,102,102)), to(rgba(255,255,255,0)))	
}