body{
	background-color:rgb(225,225,225);	
}
.adv{
	width:100%;
	padding:0px;
	height:auto;
	float:left;
}
.adv2{
	width:100%;
	margin-top:10px;
	padding:0px;
	height:auto;
	float:left;
}
.box1{
	width:240px;
	margin-right:10px;
	margin-top:10px;
	padding:0;
	height:300px;
	float:left;
}
.box2{
	width:420px;
	margin-right:10px;
	margin-top:10px;
	padding:0;
	height:300px;
	float:left;
	background-color:#CCCs;
}
.box3{
	width:280px;
	margin-top:10px;
	padding:0;
	height:300px;
	float:left;
}
.link1{
	margin-top:10px;
	margin-button:10px;
	margin-right:10px;
	padding:10px;
	width:115px;
	height:125px;
	float:left;
	background-color:rgb(225,225,225);
}
.link2{
	margin-top:10px;
	margin-button:10px;
	padding:10px;
	width:115px;
	height:125px;
	float:left;
	background-color:rgb(225,225,225);
}
.link3{
	margin-top:10px;
	margin-button:10px;
	margin-right:10px;
	padding:10px;
	width:115px;
	height:125px;
	float:left;
	background-color:rgb(225,225,225);
}
.link4{
	margin-top:10px;
	margin-button:10px;
	padding:10px;
	width:115px;
	height:125px;
	float:left;
	background-color:rgb(225,225,225);
}
.bottom{
	width:100%;
	margin-top:10px;
	padding:0;
	height:100px;
	float:left;
	background-color:rgb(225,225,225);
}

.title{
	height:50px;
	text-shadow:#F09;
	font-style:inherit;
}
.title1{
	height:40px;
	text-shadow:#F09;
	font-style:inherit;
}
.title2{
	height:40px;
	text-shadow:#F09;
	font-style:inherit;
}
.title3{
	height:40px;
	text-shadow:#F09;
	font-style:inherit;
}
.li{
	margin:6px;
	padding:4px;
	font-size:12px;		
}
.li:hover{
	background-color:rgb(245,245,245);
	cursor:pointer;
}
.act-content{
	margin-top:10px;
	width:960px;
	float:left;
}
.box4{
	margin:0;
	width:240px;
	height:300px;
	float:left;
}
.box5{
	margin-left:10px;
	width:420px;
	height:300px;
	float:left;
}
.box6{
	margin-left:10px;
	width:280px;
	height:300px;
	float:left;
}
.news{
}