/* CSS Document */
img{
	border-radius:25px;	
}
.bar-top{
	float:left;
	width:100%;
	height:10px;
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(200,200,200,1)));
}
.bar-top2{
	float:left;
	width:100%;
	height:45px;
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(200,200,200,1)), to(rgba(225,225,225,1)));
}
.personal-info{
	margin-top:-25px;
	float:left;
	width:100%;	
}
.left{
	float:left;
	margin-left:60px;
	width:200px;
	height:300px;
}
.photo{
	float:left;
	width:200px;
	height:200px;
}
.follow{
	float:left;
	width:200px;
	margin-top:10px;
	text-align:center;
	padding-top:10px;
	background:rgb(188,188,188);
	height:28px;
	border-radius:10px;
}
.follow:hover{
	cursor:pointer;
	background:rgb(245,245,245);
}
.center{
	float:left;
	margin-left:20px;
	width:360px;
	height:300px;
}
.name{
	float:left;
	margin:10px;	
	font-size:20px;
}
.honor{
	float:left;
}
.right{
	float:left;
	margin-left:20px;
	width:240px;
	height:300px;
}
.scroll-item{
	position:absolute;
	height:200px;
	width:200px;
	margin:20px;
	top:55px;
	overflow:hidden;
}
.top-bar{
	position:absolute;
	width:240px;
	height:20px;
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(225,225,225,1)));
	border-radius:10px 10px 0 0;	
}
.bottom-bar{
	position:absolute;
	top:280px;
	width:240px;
	height:20px;
	background:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(225,225,225,1)));
	border-radius:0 0 10px 10px;
}
.left-bar{
	float:left;
	margin-top:16px;
	width:280px;
	height:8px;
	background:-webkit-gradient(linear, left top, right top, from(rgba(225,225,225,1)), to(rgba(104,104,104,1)));
}
.center-bar{
	float:left;
	margin-top:16px;
	width:200px;
	height:8px;
	background:rgba(104,104,104,1);
}
.right-bar{
	float:left;
	margin-top:16px;
	width:280px;
	height:8px;
	background:-webkit-gradient(linear, right top, left top, from(rgba(225,225,225,1)), to(rgba(104,104,104,1)));
}
.team,.act{
	float:left;
	width:100px;
	height:40px;	
}
.title-bar{
	margin-top:5px;
	float:left;
	width:60px;
	height:6px;
	margin-left:20px;
	background-color:rgba(102,51,102,1);
	border-radius:4px;
}
.title-content{
	margin-top:5px;
	float:left;
	width:100%;
	text-align:center;	
	cursor:pointer;
}
#content{
	float:left;
	margin-top:10px;
	width:100%;
	
}
#scroll-panel{
	position:absolute;
	top:200px;
	width:200px;
	height:200px;
	overflow:hidden;
}
.per-info table th,.per-info table td{
	background:rgb(225,225,225);
	color:rgb(102,51,102);
	text-align:left;
	border:1px solid rgb(225,225,225);	
}
.per-info table{
	border:1px solid rgb(225,225,225);
}
#table_activity{
	margin:0 60px 0 60px;
}
#table_activity table{
	border-radius:10px;
}
#table_activity table th,#table_activity table td{
	color:#000;
	border-collapse:collapse;
	background:rgb(215,215,215);
}
#table_comment{
	margin:0 60px 0 60px;
}
#table_comment table{
	border-radius:10px;
}
#table_comment table th,#table_comment table td{
	color:#000;
	border-collapse:collapse;
	background:rgb(215,215,215);
}
