body{
	background-color:rgb(225,225,225);	
}
.act-show{
	width:100%;
	float:left;
	height:360px;	
}
.map{
	width:200px;
	float:left;
	height:360px;
	overflow:hidden;
	-webkit-border-radius:20px 0 0 20px;
}
.map-img{
	float:left;
	width:200px;
	height:360px;
	margin-left:-460px;
	margin-top:-250px;
}
.act-img{
	width:500px;
	float:left;
	height:360px;
	overflow:hidden;
}
.act-img-t{
	float:left;
}
.act-detail{
	position:absolute;
	width:300px;
	height:360px;
	background:-webkit-gradient(linear, right top, left top, from(#FFF), to(rgba(255,255,255,0)));
	left:400px;
	z-index:50;
	opacity:0.6;
}
.act-title{
	width:260px;
	float:left;
	height:360px;
}
.act-title-t{
	float:left;
	width:240px;
	height:70px;
	-webkit-border-radius: 0 20px 20px 0;
	background:-webkit-gradient(linear, left top, right top, from(rgb(225,225,225)), to(#606));
	color:#333;
	font-size:16px;
	padding-top:20px;
	padding-left:20px;
}
.act-title-t:hover{
	width:236px;
	height:62px;
	border-bottom:4px solid rgb(225,225,225);
	border-top:4px solid rgb(225,225,225);
	border-right:4px solid rgb(225,225,225);
	cursor:pointer;
}
