@import url( "header.css");
@import url( "footer.css");

body {
margin-top: 70px;
padding-top:0;
font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
font-size: 12px;
line-height: 20px;
background-color:rgb(225,225,225);
}

ul {
list-style-type: none;
margin:0;
padding: 0;
}


.main{
	padding-top:20px;
width: 960px;  /* wi:windows */
margin: 0px auto;  /* mk:marks */
position:relative;
}

.button{
	background-color:#DDD;
	color:;
	width:auto;
	border-radius:4px;
	padding: 4px 14px;
	border:1px solid #BBB;
	line-height: 20px;
	height: 30px;
	white-space: pre;
	font-size: 16px;
	vertical-align: middle;
	box-sizing: border-box;
	cursor:pointer;
}
.button:hover{
	background-color:#48F;
}



table {width:100%;border-collapse:collapse;margin:1em 0;}
table th, table td{text-align:center;padding:0.5em;border:1px solid #fff;}
table th{background:#328aa4;color:#fff;}
table td{background:#e5f1f4;}

table tr.even td{background:#e5f1f4;}
table tr.odd td{background:#f8fbfc;}
