

.left-bar{
	float:left;
	margin-top:15px;
	height:10px;
	width:270px;
	background:-webkit-gradient(linear, right top, left top, from(rgba(104,104,104,1)), to(rgba(225,225,225,0.2)));
}
.right-bar{
	float:left;
	margin-top:15px;
	height:10px;
	width:270px;
	background:-webkit-gradient(linear, left top, right top, from(rgba(104,104,104,1)), to(rgba(225,225,225,0.2)));
}
.main-content-subtitle {
	padding:10px;
	text-align:center;
	float:left;
	font-size:18px;
	-webkit-border-radius:10px;	
}