a{	
	text-decoration:none;
	color:#660066;
}
a:hover{	
	text-decoration:none;
}
.summary{
	padding:10px;
	border:1px solid white;
}
.summary:hover{
	background-color:rgb(245,245,245);
	border:1px solid rgb(200,200,200);
}
.otherInfo{
	font-style:italic;
}
.words{
	width:75%
	float:left;
	height:150px;
}
.act_img{
	width:25%;
	float:left;
	padding:10px;
}
.atc_state{
	font-size:14px;
	margin-left:10px;
}
.main_search{
	border:1px solid rgb(200,200,200);
	background-color:rgb(245,245,245);
	padding:20px;
}
.input_search{
	float:left;	
}

.submit_search{
	float:left;
	margin-left:10px;
}

.check_box_weekday{
	clear:both;
}
.time-type{
	clear:both;
}
.attribution-type{
	clear:both;
}
.notfound{
	padding:10px;
}
.img_nav{
	font-size:14px;
	font-weight:700;
	padding:1px;
	border:1px solid rgb(200,200,200);	
}
.img_nav:hover{
	cursor:pointer;
	background-color:rgb(200,200,200);
}