
<div id="" class="" style="margin: 0 20px">
	
	<!-- <span id="show_activity_text" class="">更新</span>时间：<{$update_time}><br /> -->

	<h2><{$activity_name}></h2>
	<div id="base">
		<{if $show_op_button}>
			<div>
				<div class="left-bar"></div>
				<div class="main-content-subtitle">报名情况</div>
				<div class="right-bar"></div>
			</div>
		<{/if}>
		<table id="act_people_table">
			<tr>
				<th><input id="check_all_act_people"  type="checkbox" title="全选" /></th>
				<th>学号</th>
				<th>姓名</th>
				<th>院系</th>
				<th>年级</th>
				<th>联系电话</th>
				<th>qq号</th>
				<th>状态</th>
			</tr>
			<{section name=vol_index loop=$apply_list}>
				<tr class="even" id="act_people_table_tr_<{$apply_list[vol_index].id}>">
					<td><input class="checkbox_head" type="checkbox" id="act_people_table_checkbox_<{$apply_list[vol_index].id}>" 
						onclick="act_apply_head_check();"
						<{if $apply_list[vol_index].dischoosabled == "true" }>
						disabled="true"
						<{/if}>
						<{if $apply_list[vol_index].checked == "true" }>
						checked="checked"
						<{/if}>
					noid="<{$apply_list[vol_index].id}>"  un="<{$apply_list[vol_index].name}>" uf="<{$apply_list[vol_index].faculty}>" /></td>
					<td><a class="apply_id_col" onclick="popup_volunteer_info(<{$apply_list[vol_index].id}>);" title="点击查看该学生的信息"><{$apply_list[vol_index].id}></a></td>
					<td><a  target="_blank" href="./indexv.php?user_id=<{$apply_list[vol_index].id}>" title="查看个人主页"><{$apply_list[vol_index].name}></a></td>
					<td style="white-space:nowrap; overflow: hidden;"><{$apply_list[vol_index].faculty}></td>
					<td><{$apply_list[vol_index].grade}></td>
					<td><{$apply_list[vol_index].tel}></td>
					<td><{$apply_list[vol_index].qq}></td>
					<td id="act_people_table_col_state_<{$apply_list[vol_index].id}>"><{$apply_list[vol_index].state}></td>
				</tr>
			<{sectionelse}>
				<tr class="even">
					<td colspan="8">这个活动还没有人参加哦！赶快敲响你的战鼓吧！</td>
				</tr>
			<{/section}>
		</table>
	</div>
	<{if $show_op_button}>
		<div id="" class=""> 请填写退回原因： </div>
		<div id="" class="" style="border-color:red">
			<textarea onchange="textarea_back_reason_on_change(this, false);" id="textarea_back_reason" name="" rows="5" cols="50" ></textarea>
		</div>
		<input type="button" class="button" id="btn_audit_ok" actid="<{$actid}>" disabled="true"  value="通过" title="请先勾选审核通过的志愿者"/>
		<input type="button" class="button" id="btn_audit_fail" actid="<{$actid}>"  disabled="true" value="退回" title="请先勾选要退回志愿者并填写退回理由"/>
		<input type="button" class="button" id="go_back_home" value="返回" />
	<{else}>
		<input type="button" class="button" id="btn_import_ok" docid="<{$docid}>"  value="确定" title="将选择的报名人员导入参与表"/>
	<{/if}>

</div>