

<span id="show_activity_text" class="">更新</span>时间：<{$current_time}>

<table id="show_activity_table" class="act_people_table">
	<tr>
    <th>活动名称</th>
    <th>负责人</th>
    <th>状态</th>
    <th>报名情况</th>
    </tr>
	<{$act_count = 0}>
	<{section name=act_index loop=$act_list}>
		<{if $act_count%2 == 0}><tr class="even"><{else}><tr class="odd"><{/if}>
		   <td style="text-align:left">
					<span class="util_doc_fold" actid="<{$act_list[act_index].act_id}>" title="展开/折叠活动记录">╬</span>
					<a href="./act_dtl.php?act_id=<{$act_list[act_index].act_id}>" target="_blank"><{$act_list[act_index].act_title}></a>
					<div id="doc_list_<{$act_list[act_index].act_id}>" class="util_doc_list">
						<table>
							<tr><th>时间</th><th>带队人</th><th>联系方式</th></tr>
								<{section name=doc_index loop=$act_list[act_index].doc_list}>
									<tr class="even">
										<td><{$act_list[act_index].doc_list[doc_index].doc_time}></td>
										<td><span docid=<{$act_list[act_index].doc_list[doc_index].doc_id}> class="util_doc_index"><{$act_list[act_index].doc_list[doc_index].leader}></span></td>
										<td><{$act_list[act_index].doc_list[doc_index].tel}></td>
									</tr>
								<{/section}>
						</table>
						<{if $is_add == true}>
							<span actid="<{$act_list[act_index].act_id}>" class="util_doc_add">添加活动档案</span>
						<{/if}>
					</div>
			</td>
		   <td><{$act_list[act_index].consult}></td>
		   <td><{$act_list[act_index].state}></td>
		   <td><span actid="<{$act_list[act_index].act_id}>" class="util_doc_apply">》》》</span></td>
		</tr>
	<{$act_count = $act_count + 1}>
	<{/section}>
</table>

