<div class="logo"><img src="./assets/img/header/logo.png" width="160px"/></div>
<div style="width:100%;position:absolute;top:88px;height:20px;left:0;background:-webkit-gradient(linear, left top, left bottom, from(#606), to(rgba(255,255,255,0)))"></div>
<div class="header">
	<div class="header_content">
		<div style="width:160px;height:50px;float:left;background-color:rgb(225,225,225)"></div>
		<div  class="main_menu">
			<ul>
				<li><a href="./index.php">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
				<li><a href="./act.php">活动中心</a></li>
					<{* 
						1表示未经过审核的志愿者，
						2表示审核通过志愿者，
						3表示志愿团队，
					*}>
					<{if isset($user_permission) }>
						<{if $user_permission == 1 || $user_permission == 2}>
							<li><a href="./zonev.php">个人空间</a></li>
						<{elseif $user_permission == 3}>
							<li><a href="./zonet.php">团队空间</a></li>
						<{/if}>
					<{/if}>
				<li><a href="./news.php">新闻广场</a></li>
				<li><a href="./team.php">团队组织</a></li>
			</ul>
		</div>
		<div  class="welcome_bar">
			<{if isset( $user_permission ) && $user_permission > 0 && isset($user_name)}>
				<{if $user_permission < 3}>
					您好，<a href="./zonev.php"><{$user_name}></a>！
				<{elseif $user_permission == 3}>
					您好，<a href="./zonet.php"><{$user_name}></a>！
				<{/if}>
				&nbsp;&nbsp;<a href="./handle/logout.php">退出</a>
			<{else}>
				<a onclick="showit()" id="login_button">登录</a>
			<{/if}>
		</div>
	</div>
</div>
 <{include file="include/login.html"}> 
<div class="backdrop" id="backdrop" onclick="hideit()">
</div>
<script type="text/javascript">
var flag=0;
var temp=0;
$(document).ready(function(){
	$("#loginModal").hide();	
});
function showit(){
	if (flag==0)
	{
		if(temp==0){
			temp=1;
			$("#loginModal").show();
			document.getElementById('backdrop').style.display="block";
			$("#backdrop").animate({opacity:'0.8'},'fast');
			setTimeout("$('#loginModal').animate({top:'130px'})",100);
			//$('#login_button').text('返回');
			flag=1;
			setTimeout("temp=0",600);
		}
	}/*else
	{
		if(temp==0){
			temp=1;
			$('#loginModal').animate({top:'-500px'});
			setTimeout("$('#backdrop').animate({opacity:'0'})",300);
			setTimeout("document.getElementById('backdrop').style.display='none'",500);
			$('#login_button').text('登录');
			flag=0;
			setTimeout("temp=0",600);
		}
	}*/
}
function hideit(){
	if(temp==0){
		temp=1;
		$('#loginModal').animate({top:'-500px'});
		setTimeout("$('#backdrop').animate({opacity:'0'})",300);
		setTimeout("document.getElementById('backdrop').style.display='none'",500);
		//$('#login_button').text('登录');
		flag=0;
		setTimeout("temp=0",600);
	}
}
</script>