<style>
table td{
	text-align:left;
}
</style>
<div id="" class="">
	
   	<div id="base">
    <div>
    	<div class="left-bar"></div>
    	<div class="base-info">基本资料</div>
    	<div class="right-bar"></div>
	</div>
<table width="200" border="1">
  <tr>
    <th scope="row">姓名</th>
    <td id="name"><{$name}></td>
  </tr>
  <tr>
    <th scope="row">学号</th>
    <td id="stud_no"><{$stu_no}></td>
  </tr>
  <tr>
    <th scope="row">身份证号</th>
    <td><{$idcard_num}></td>
  </tr>
  <tr>
    <th scope="row">性别</th>
    <td><{$gender}></td>
  </tr>
  <tr>
    <th scope="row">E-mail</th>
    <td><{$email}></td>
  </tr>
  <tr>
    <th scope="row">手机</th>
    <td><{$phone}></td>
  </tr>
  <tr>
    <th scope="row">所在院</th>
    <td><{$faculty}></td>
  </tr>
  <tr>
    <th scope="row">年级</th>
    <td><{$grade}></td>
  </tr>
  <tr>
    <th scope="row">出生日期</th>
    <td><{$birthday}></td>
  </tr>
  <tr>
    <th scope="row">政治面貌</th>
    <td><{$politics_status}></td>
  </tr>
  <tr>
    <th scope="row">民族</th>
    <td><{$nation}></td>
  </tr>
  <tr>
    <th scope="row">服装大小</th>
    <td><{$cloth_size}></td>
  </tr>
  <tr>
    <th scope="row">宿舍</th>
    <td><{$dormitory}></td>
  </tr>
</table>
</div>
<div id="more">
 	<div>
    	<div class="left-bar"></div>
    	<div class="base-info">个人技能</div>
    	<div class="right-bar"></div>
	</div>
	<table width="200" border="1">
  <tr>
    <th scope="row">cet4</th>
    <td><{$cet4}></td>
  </tr>
   <tr>
    <th scope="row">cet6</th>
    <td><{$cet6}></td>
  </tr>
  <tr>
    <th scope="row">其他外语</th>
    <td><{$language}></td>
  </tr>
  <tr>
    <th scope="row">水平</th>
    <td><{$level}></td>
  </tr>
  
  <tr>
    <th scope="row">是否有医疗急救技能</th>
    <td><{$medical}></td>
  </tr>
  <tr>
    <th scope="row">是否有驾驶技能</th>
    <td><{$drive}></td>
  </tr>
  <tr>
    <th scope="row">其他能力</th>
    <td><{$other_skills}></td>
  </tr>
</table>

</div>

</div>