<div id="" class="">
	个人空间右边的个人资编辑
    <div class="base-info">-基本资料-</div>
    <div class="base-info">-个人技能-</div>
    <div id="base">
<table width="200" border="1">
  <tr>
    <th scope="row">姓名</th>
    <td><input type="text" id="name" value="<{$name}>"/></td>
  </tr>
  <tr>
    <th scope="row">学号</th>
    <td><input type="text" id="name" value="<{$stu_no}>"/></td>
  </tr>
  <tr>
    <th scope="row">身份证号</th>
    <td><input type="text" id="name" value="<{$idcard_num}>"/></td>
  </tr>
  <tr>
    <th scope="row">性别</th>
    <td><input type="text" id="name" value="<{$gender}>"/></td>
  </tr>
  <tr>
    <th scope="row">E-mail</th>
    <td><input type="text" id="name" value="<{$email}>"/></td>
  </tr>
  <tr>
    <th scope="row">手机</th>
    <td><input type="text" id="name" value="<{$phone}>"/></td>
  </tr>
  <tr>
    <th scope="row">所在院</th>
    <td><input type="text" id="name" value="<{$faculty}>"/></td>
  </tr>
  <tr>
    <th scope="row">所在系</th>
    <td><input type="text" id="name" value="<{$department}>"/></td>
  </tr>
  <tr>
    <th scope="row">出生日期</th>
    <td><input type="text" id="name" value="<{$birthday}>"/></td>
  </tr>
  <tr>
    <th scope="row">政治面貌</th>
    <td><input type="text" id="name" value="<{$politics_status}>"/></td>
  </tr>
  <tr>
    <th scope="row">民族</th>
    <td><input type="text" id="name" value="<{$nation}>"/></td>
  </tr>
  <tr>
    <th scope="row">服装大小</th>
    <td><input type="text" id="name" value="<{$cloth_size}>"/></td>
  </tr>
  <tr>
    <th scope="row">宿舍</th>
    <td><input type="text" id="name" value="<{$dormitory}>"/></td>
  </tr>
</table>
</div>

<div id="more">
	<table width="200" border="1">
  <tr>
    <th scope="row">cet4</th>
    <td><input type="text" id="name" value="<{$cet4}>"/></td>
  </tr>
   <tr>
    <th scope="row">cet6</th>
    <td><input type="text" id="name" value="<{$cet6}>"/></td>
  </tr>
  <tr>
    <th scope="row">其他外语</th>
    <td><input type="text" id="name" value="<{$language}>"/></td>
  </tr>
  <tr>
    <th scope="row">水平</th>
    <td><input type="text" id="name" value="<{$level}>"/></td>
  </tr>
  
  <tr>
    <th scope="row">是否有医疗急救技能</th>
    <td><input type="text" id="name" value="<{$medical}>"/></td>
  </tr>
  <tr>
    <th scope="row">是否有驾驶技能</th>
    <td><input type="text" id="name" value="<{$drive}>"/></td>
  </tr>
  <tr>
    <th scope="row">其他能力</th>
    <td><input type="textarea" id="name" value=""/>&nbsp;</td>
  </tr>
</table>
<input type="button" value="提交"/>
<input type="button" value="回到默认" />
</div>
</div>