


<div id="" class="" style="margin: 0px 20px 20px">
	<div id="" class="">
		
			<div>
				<div class="left-bar"></div>
				<div class="main-content-subtitle">备案资料</div>
				<div class="right-bar"></div>
			</div>
			<div id="" class="">
				
				<table>
						<tr>
							<th style="text-align:right">名称</th>
							<td style="text-align:left"><{$team_name}></td>
						</tr>
						<tr>
							<th style="text-align:right">邮箱</th>
							<td style="text-align:left"><{$team_email}></td>
						</tr>
						<tr>
							<th style="text-align:right">负责人</th>
							<td style="text-align:left"><{$team_leader}></td>
						</tr>
						<tr>
							<th style="text-align:right">负责人联系方式</th>
							<td style="text-align:left"><{$team_leader_phone}></td>
						</tr>
						<tr>
							<th style="text-align:right">指导老师</th>
							<td style="text-align:left"><{$team_director}></td>
						</tr>
						<tr>
							<th style="text-align:right">指导老师联系方式</th>
							<td style="text-align:left"><{$team_director_phone}></td>
						</tr>
						<tr>
							<th style="text-align:right">附属单位</th>
							<td style="text-align:left"><{$team_attched}></td>
						</tr>
				</table>
			</div>
	</div>

	<div id="" class="">
			<div>
				<div class="left-bar"></div>
				<div class="main-content-subtitle">个性资料</div>
				<div class="right-bar"></div>
			</div>
			<div id="" class="" style="width:629px; overflow:auto;">
				<table>
					<tr>
						<th style="text-align:right">Logo</th>
						<td style="text-align:left">
							<div id="" class="">
								<img src="<{$team_logo}>" width="" style="border-radius:25px;" height="" border="0" alt="">
							</div>
						</td>
					</tr>
					<tr>
						<th style="text-align:right">口号</th>
						<td style="text-align:left"><{$team_signature}></td>
					</tr>
					<tr>
						<th style="text-align:right">简介</th>
						<td style="text-align:left" >
							<div class=""  style="" id="infot_profile" ><{$team_profile}></div>
						</td>
					</tr>
				</table>
			</div>
	</div>
	
	<input type="button" class="button" id="team_info_modify" onclick="team_info_modify_handle(this);" value="修改"  title="修改个性资料" />
	<input type="button" class="button" value="我的主页"  onclick="window.open('./indext.php?team_id=<{$team_id}>', '_blank')" title="在新页面查看我的主页" />


</div>