


<table>
	<tr>
		<th>学号</th><th>姓名</th>
		<th>性别</th><th>联系方式</th>
		<th>状态</th><th width="100px">身份</th>
	</tr>

	<{section name=mem_index loop=$mem_list}>
		<tr>
			<td><span title="点击查看该学生信息" class="studentNo"><{$mem_list[mem_index].id}></span></td>
			<td><a href="./zonev.php"  title="进入个人空间" target="_blank"><{$mem_list[mem_index].name}></a></td>
			<td><{$mem_list[mem_index].gender}></td>
			<td><{$mem_list[mem_index].tel}></td>
			<td><{$mem_list[mem_index].state}></td>
			<td><span title="点击修改" class="clickable capacity"><{$mem_list[mem_index].q}></span></td>
		</tr>
	<{/section}>
</table>