


<table>
	<tr>
		<th>学号</th><th>姓名</th>
		<th>性别</th><th>联系方式</th>
		<th>状态</th><th width="100px">身份</th>
	</tr>

	<tr>
		<td><span title="点击查看该学生信息" class="studentNo">b101220105</span></td>
		<td><a href="./zonev.php"  title="进入个人空间" target="_blank">谭琦存</a></td>
		<td>男</td><td>15900000000</td>
		<td>已审</td>
		<td><span title="点击修改" class="clickable capacity">主席</span></td>
	</tr>
	<tr>
		<td><span title="点击查看该学生信息" class="studentNo">b101220105</span></td>
		<td><a href="./zonev.php"  title="进入个人空间" target="_blank">谭琦存</a></td>
		<td>男</td><td>15900000001</td>
		<td><span title="点击修改" class="clickable checkNode">未审</span></td>
		<td><span title="点击修改" class="clickable capacity">主席</span></td>
	</tr>
	<tr>
		<td><span title="点击查看该学生信息" class="studentNo">b101220105</span></td>
		<td><a href="./zonev.php"  title="进入个人空间" target="_blank">谭琦存</a></td>
		<td>男</td><td>15900000002</td>
		<td><span title="点击修改" class="clickable checkNode">未审</span></td>
		<td><span title="点击修改" class="clickable capacity">成员</span></td>
	</tr>
</table>