

<div id="" class="" style="margin:0 20px 20px;">
	


<table>
	<tr>
		<th style="text-align:right">主题</th>
		<td style="text-align:left">
			<input type="text" />
		</td>
	</tr><!-- white-space:nowrap;  -->
	<tr>
		<th style="text-align:right">接收者</th>
		<td style="text-align:left">
			<div class="receiver-card">
				<span class="" style="margin: 15px 3px; ">系统管理员(10000)</span>
				<img class="img_note_del"  id="img_note_del_32" src="./assets/img/zonet/recv_del.jpg"  />
			</div>
			<div class="receiver-card">
				<span class="" style="margin: 15px 3px; ">系统管理员(10000)</span>
				<img class="img_note_del"  id="img_note_del_32" src="./assets/img/zonet/recv_del.jpg"  />
			</div>
			<div class="receiver-card">
				<span class="" style="margin: 15px 3px; ">系统管理员(10000)</span>
				<img class="img_note_del"  id="img_note_del_32" src="./assets/img/zonet/recv_del.jpg"  />
			</div>
			<div class="receiver-card">
				<span class="" style="margin: 15px 3px; ">系统管理员(10000)</span>
				<img class="img_note_del"  id="img_note_del_32" src="./assets/img/zonet/recv_del.jpg"  />
			</div>
			<div class="receiver-card">
				<span class="" style="margin: 15px 3px; ">系统管理员(10000)</span>
				<img class="img_note_del"  id="img_note_del_32" src="./assets/img/zonet/recv_del.jpg"  />
			</div>
			<div class="receiver-card">
				<span class="" style="margin: 15px 3px; ">系统管理员(10000)</span>
				<img class="img_note_del"  id="img_note_del_32" src="./assets/img/zonet/recv_del.jpg"  />
			</div>
			<div class="receiver-card">
				<span class="" style="margin: 15px 3px; ">系统管理员(10000)</span>
				<img class="img_note_del"  id="img_note_del_32" src="./assets/img/zonet/recv_del.jpg"  />
			</div>
			<div class="receiver-card">
				<span class="" style="margin: 15px 3px; ">系统管理员(10000)</span>
				<img class="img_note_del"  id="img_note_del_32" src="./assets/img/zonet/recv_del.jpg"  />
			</div>
			<input type="button" class="button" value="选择" />
		</td>
	</tr>
	<tr>
		<th style="text-align:right">内容</th>
		<td style="text-align:left">
			<textarea name="" rows="5" cols="70"></textarea>
		</td>
	</tr>
</table>

<input type="button" class="button" value="保存" />
<input type="button" class="button" value="发送" />
















</div>