

<div id="" class="" style="margin:0 20px 20px;">
	


<table>
	<tr>
		<th style="text-align:right">主题</th>
		<td style="text-align:left">
			<{if !$read_only}>
				<input type="text" onblur="check_note_send_btn();" id="note_edit_topic" value="<{$topic}>"/>
			<{else}> 
				<{$topic}>
			<{/if}>
		</td>
	</tr><!-- white-space:nowrap;  -->

	<{if isset($sender)}>
		<tr>
			<th style="text-align:right">发送者</th>
			<td style="text-align:left"><{$sender}></td>
		</tr>
	<{/if}>

	<{if isset($time)}>
		<tr>
			<th style="text-align:right">时间</th>
			<td style="text-align:left"><{$time}></td>
		</tr>
	<{/if}>
	<{if !$recv}>
	<tr>
		<th style="text-align:right">接收者</th>
		<td style="text-align:left">
			<!-- <span class="">选择</span> -->
			<div id="" class="">
				<!-- 这里放选择的接收者 -->
				<div id="note_recv_list" class="note_recv_list">
					<{section name=recv_index loop=$recv_list}>
							<div class="receiver-card" uid="<{$recv_list[recv_index].id}>" sid="<{$smarty.section.recv_index.iteration}>">
								<span class="note_recv_name" ><{$recv_list[recv_index].name}></span>
							</div>
					<{sectionelse}>
					<{if $read_only}>
					可能发给了所有人，因为在数据库里什么也没有找到！
					<{/if}>
					<{/section}>
				</div>
				<{if !$read_only}>
				<span id="switch_note_recv_list_div" class="" onclick="switch_note_recv_list_div(this);">展开</span>
				<div id="note_recv_list_div" class="" style="display:none">
					<hr style="border:1px gray solid;" />
					<div class="">系统管理员、院系或组织：</div>
					<div id="note_recv_team_list" class="note_recv">
						<{section name=team_index loop=$team_list}>
							<div class="receiver-card" uid="<{$team_list[team_index].id}>" sid="<{$smarty.section.team_index.iteration}>">
								<span class="note_recv_name" ><{$team_list[team_index].name}></span>
								<img class="img_note_del" gid="1"   id="img_note_del_<{$team_list[team_index].id}>" sid="<{$smarty.section.team_index.iteration}>" onclick="note_recv_button(this);" src="./assets/img/zonet/recv_add.jpg" title="添加到接收者列表"/>
							</div>
						<{/section}>
					</div>

					<hr style="border:1px gray dashed;"/>
					<input type="checkbox" value="全选" title="全选" id="zt_elem_note_select_mem" gid="3"  onclick="nt_func_note_select_all_mem(this);"/>
					<span class="">成员：</span>
					<div id="note_recv_mem_list" class="note_recv">
						<{section name=mem_index loop=$mem_list}>
							<div class="receiver-card" uid="<{$mem_list[mem_index].id}>" sid="<{$smarty.section.mem_index.iteration}>">
								<span class="note_recv_name" ><{$mem_list[mem_index].name}></span>
								<img class="img_note_del" gid="3"   id="img_note_del_<{$mem_list[mem_index].id}>" sid="<{$smarty.section.mem_index.iteration}>" onclick="note_recv_button(this);" src="./assets/img/zonet/recv_add.jpg" title="添加到接收者列表"/>
							</div>
						<{/section}>
					</div>


					<hr style="border:1px gray dashed;"/>
					<input type="checkbox" value="全选" title="全选" gid="2" id="zt_elem_note_select_all_act_part" onclick="nt_func_note_select_all_act_part(this);"/>
					<span class="">
						活动
						<select name="note_recv_act_select" id="note_recv_act_select">
							<option value="-1" selected="selected">请选择</option>
							<{section name=act_index loop=$act_list}>
							<option value="<{$act_list[act_index].id}>" ><{$act_list[act_index].name|truncate:27:"……":true}></option>
							<{/section}>
						</select>
						中的志愿者：
					</span>
					<div id="note_recv_vol_list" class="note_recv"> </div>
				</div>
				<{/if}>
			</div>
		</td>
	</tr>
	<{/if}>



	<tr>
		<th style="text-align:right">内容</th>
		<td style="text-align:left">
			<{if !$read_only}>
				<textarea name="" rows="10" cols="70" onblur="check_note_send_btn();"  title="通知字数不能超过1000" id="note_edit_content"><{$content}></textarea>
			<{else}>
				<{$content}>
			<{/if}>
		</td>
	</tr>
</table>

<{if !$read_only}><!-- 不显示发送按钮 -->
	<input type="button" class="button" disabled="true" title="通知主题、接收者和内容均不能为空才能发送通知" value="发送"  id="send_note_btn" onclick="nt_func_note_send()"/>
<{else}>
	<input type="button" class="button" value="返回" onclick="switch_main_content( '<-' );" />
<{/if}>
















</div>