<div class="title-bar" id="title_bar">
    <div class="left-bar"></div>
    <span id="type">公告通知</span>
    <div class="right-bar"></div>
</div>
<div class="content">
    <div class="notice-list">
        <ul class="detail">
            <li>
                <div class="title-d">上学期所有志愿活动一览</div>
                <div class="time-d">[2013-5-11]</div>
            </li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
        </ul>
    </div>
    <div class="bottom-s">
        <div style="float:left">第页/总页，共条</div>
        <div style="float:right">
            <input type="button" value="首页"/>
            <input type="button" value="上一页"/>
            <input type="button" value="下一页"/>
            <input type="button" value="末页"/>
        </div>
    </div>
</div>