<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="SHORTCUT ICON" href="./assets/img/header/logo.png">
<link href="./assets/css/main.css" rel="stylesheet" />
<link href="./assets/css/login.css" rel="stylesheet" />
<link href="./assets/css/team_list.css" rel="stylesheet" />
<script type="text/javascript" src="./assets/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./assets/js/team_list.js"></script>
<title>团队组织</title>
<style>
button{
	position:relative;
	width:140px;
	height:40px;
	border:ridge;
	border-radius:15px;
	behavior:url(./assets/css/pie.htc);
}
</style>

</head>
<body>
<{include file="include/header.html"}>
<div class="main">
	<div class="main_search">
    	<a href="team.php">
        	<div style="float:left;margin-left:110px;margin-top:25px;font-weight:bold;font-size:50px;color:rgb(102,51,102);">团队组织</div>
        </a>

	 </div>
     <hr />
     <div class="hotact">
        <div class="pageup" id="slideleft"><img src="./assets/img/activity_center/left.gif" /></div>
        <div class="switchtable">
            <ul class="switch" id="switch">
                
            </ul>
        </div>
        <div class="pagedown" id="slideright" ><img src="./assets/img/activity_center/right.gif" /></div>
		<div id="act-tag">
			<div class="tagact" id="act-tag3" onclick="showtag(3)"></div>
			<div class="tagact" id="act-tag2" onclick="showtag(2)"></div>
			<div class="tagact" id="act-tag1" onclick="showtag(1)"></div>
		</div>
    </div>

    
   	 <div class="group" id="group1">
     	<div class="left-bar"></div>
     	<div class="bar-title">院系组织</div>
        <div class="right-bar"></div>
         <ul >
         
         <{foreach name=data item=item from=$department_info}>
         <li class="explore-item">
            <div class="pic">
               <span onclick="window.open('./indext.php?team_id=<{$item.id}>','_blank')"> <img src="./assets/img/team/<{$item.logo}>" class="t-portrait" id="pic1" title="<{$item.name}>"></span>
            </div>
            <div class="content">
                <div class="title">
                	<span onclick="window.open('indext.php?team_id=<{$item.id}>', '_blank');" title="<{$item.name}>"><{$item.attached_institutions}>
                    </span>
                </div>
                <div class="favs">
                </div>
            </div>
         </li>
         <{/foreach}>
         
        </ul>
    </div>
    
    <div class="group" id="group2">
    <div class="left-bar"></div>
     	<div class="bar-title">其他组织</div>
        <div class="right-bar"></div>
     <ul>
     <{foreach name=data item=item from=$other_team_info}>
     <li class="explore-item">
   		<div class="pic">
        	 <span onclick="window.open('./indext.php?team_id=<{$item.id}>','_blank')"> <img src="./assets/img/team/<{$item.logo}>" class="t-portrait" id="pic1"/></spn>
       	</div>
   		<div class="content" >
                <div class="title">
                	<span onclick="window.open('indext.php?team_id=<{$item.id}>', '_blank');"><{$item.name}>
                    </span>
                </div>
        	<div class="favs">
            	
            </div>
    	</div>
     </li>
     <{/foreach}>
     
     </ul>
    </div>
</div>
</div>
<{include file="include/footer.html"}>
</body>
</html>
